# Compiled source #
###################
*.class
*.o
*.o.d

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*/android-support-v4.jar

# Eclipse Configs #
.project
.classpath
.externalToolBuilders/*
gen/*
bin/*
obj/*